[build]
  command = "npm run build"  
  publish = "dist"            
  functions = "netlify/functions"
[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"